.postForm {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}
.postInput {
    width: 28rem;
    margin-left: 0.7rem;
}
.postTitle {
    margin-left: 0.7rem;
}
body {
    background-color:aquamarine;
}
